global:
  imagePullSecrets:
    - application-collection

extraEnvs:
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    value: "MySecurePass123"

service:
  type: NodePort

resources:
  limits:
    memory: "6Gi"
    cpu: "2"
