# Services deployed in suse-private-ai namespace with suse-private-ai release name.
# Global section
global:
  imagePullSecrets:
    - application-collection
  tls:
    # options: suse-private-ai, letsEncrypt, secret
    source: suse-private-ai
    issuerName: suse-private-ai

    # This section to be filled out when using letsEncrypt as the tls source
    letsEncrypt:
      environment: staging
      email: none@example.com
      ingress:
        class: ""

    # Additional Trusted CAs.
    # Enable this flag and add your CA certs as a secret named tls-ca-additional in the suse-private-ai namespace.
    additionalTrustedCAs: false

# Ollama subchart overrides - see the charts/ollama for additional entries
ollama:
  enabled: true
  ingress:
    enabled: false #Disabled - ollama endpoint is internal.
  persistentVolume:
    enabled: false
    storageClass: ""
    size: 30Gi
  ollama:
    models:
      pull: []
      run: []
    gpu:
      # -- Enable GPU integration
      enabled: false

      # -- GPU type: 'nvidia' or 'amd'
      # If 'ollama.gpu.enabled', default value is nvidia
      # If set to 'amd', this will add 'rocm' suffix to image tag if 'image.tag' is not override
      # This is due cause AMD and CPU/CUDA are different images
      type: 'nvidia'

      # -- Specify the number of GPU
      # If you use MIG section below then this parameter is ignored
      number: 1

      # -- only for nvidia cards; change to (example) 'nvidia.com/mig-1g.10gb' to use MIG slice
      nvidiaResource: "nvidia.com/gpu"
      # nvidiaResource: "nvidia.com/mig-1g.10gb" # example
      # If you want to use more than one NVIDIA MIG you can use the following syntax (then nvidiaResource is ignored and only the configuration in the following MIG section is used)
      #
  runtimeClassName: ""

langflow-ide:
  enabled: true
  nameOverride: "langflow-service"
  # Override for the name of the helm deployment
  # Note: using `langflow` as service name causes
  # env var collision when deploying on openshift
  # https://github.com/langflow-ai/langflow/issues/4330#issuecomment-2459097917
  fullnameOverride: "langflow-service"
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths: []
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  langflow:
    global:
      image:
        tag: "latest"
    backend:
      replicaCount: 1
      service:
        type: ClusterIP
        port: 7860
      backendOnly: true
      numWorkers: 1
      image:
        repository: langflowai/langflow
        imagePullPolicy: IfNotPresent
        tag: latest
      command:
        - python
        - -m
        - langflow
        - run
        - --host
        - 0.0.0.0
        - --backend-only
      resources:
        requests:
          cpu: 0.5
          memory: 1Gi
        # limits:
        #   cpu: 0.5
        #   memory: 1Gi
      probe:
        failureThreshold: 3
        periodSeconds: 10
        timeoutSeconds: 5
        initialDelaySeconds: 5
      env:
        - name: LANGFLOW_PORT
          value: "7860"
        - name: LANGFLOW_ALEMBIC_LOG_FILE
          value: "/app/db/alembic.log"
        - name: LANGFLOW_UPDATE_STARTER_PROJECTS
          value: "false"
      nodeSelector: {}
      tolerations: []
      affinity: {}
      podAnnotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: 9090
        prometheus.io/path: "/metrics"

      externalDatabase:
        # Compose in the SQLAlchemy format:
        # https://docs.sqlalchemy.org/en/20/core/engines.html#database-urls
        enabled: false
        driver: {}
          # value: "postgresql"
        port: {}
        user: {}
        password: {}
          # valueFrom:
          #   secretKeyRef:
          #    key: password
          #    name: <secret-name>
        database: {}

      volumes:
        - name: flows
          emptyDir: {}
        - name: tmp
          emptyDir: {}
        - name: data
          emptyDir: {}
        - name: db
          emptyDir: {}

      volumeMounts:
        - name: flows
          mountPath: /app/flows
          readOnly: false
        - name: tmp
          mountPath: /tmp
          readOnly: false
        - name: data
          mountPath: /app/data
          readOnly: false
        - name: db
          mountPath: /app/db
          readOnly: false

      sqlite:
        enabled: true
        volume:
          size: "1Gi"
          existingStorageClassName: "default"
          # If you want the chart to create storage classes, then don't set
          # existingStorageClassName name and provide configuration values
          # for the storage class. The settings vary based on cloud
          # provider. Below are examples for AWS, GCP, and Azure.

          # For AWS
          # storageClass:
          #  provisioner: kubernetes.io/aws-ebs
          #  type: gp2
          #  fsType: ext4
          #  extraParams:
          #     iopsPerGB: "10"

          # For GCP
          # storageClass:
          #   provisioner: kubernetes.io/gce-pd
          #   type: pd-ssd
          #   fsType: ext4
          #   extraParams:
          #      replication-type: none

          # For Azure
          # storageClass:
          #   provisioner: kubernetes.io/azure-disk
          #   fsType: ext4
          #   type: managed-premium
          #   extraParams:
          #     storageaccounttype: Premium_LRS
          #     kind: Managed
          #     cachingmode: ReadOnly
          storageClass: {}

      # autoLogin: true|false
      # superuser: <superuser login>
      # superuserPassword: <superuser password>
      # secretKey: <encryption key, optional>
      # newUserIsActive: true|false

    frontend:
      enabled: true
      replicaCount: 1
      service:
        type: NodePort
        port: 8080
        nodePort: 30808
      image:
        repository: langflowai/langflow-frontend
        imagePullPolicy: IfNotPresent
        tag: latest
      resources:
        requests:
          cpu: 0.3
          memory: 512Mi
        # limits:
        #   cpu: 0.3
        #   memory: 512Mi
      probe:
        failureThreshold: 3
        periodSeconds: 10
        timeoutSeconds: 5
        initialDelaySeconds: 5
      nodeSelector: {}

      tolerations: []

      affinity: {}
      podAnnotations: {}

      volumes:
        - name: tmp
          emptyDir: {}

      volumeMounts:
        - name: tmp
          mountPath: /tmp
          readOnly: false

  secretProvider:
    enabled: false

  postgresql:
    enabled: false

  downloadFlows:
    flows:
    - url: https://raw.githubusercontent.com/datastax/langflow-charts/main/examples/flows/basic-prompting-hello-world.json
      endpoint: hello-world
opensearch:
  enabled: true
  replicaCount: 1
  singleNode: true
  extraEnvs:
    - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
      value: "MySecurePass123"

  service:
    type: NodePort

  resources:
    limits:
      memory: "6Gi"
      cpu: "2"

