$schema: http://json-schema.org/draft-07/schema#
type: object
required:
  - global
properties:
  extraEnvs:
     type: array
     items:
       type: object
       required:
         - name
         - value
       properties:
         name:
           type: string
         value:
           type: string
  global:
    type: object
    required:
      - imagePullSecrets
    properties:
      imagePullSecrets:
        type: array
        items:
          type: string
  service:
    type: object
    properties:
      name:
        type: string
  resources:
    type: object
    required:
      - limits
    properties:
      limits:
        type: object
        required:
          - memory
          - cpu
        properties:
          memory:
            type: string
          cpu:
            type: string
